---
interface Props {
  src: `https://adventar.org/calendars/${number}`
}

const props = Astro.props
---

<div class="m-10">
  <div class="flex justify-center h-[437px]">
    <iframe class="block h-full w-[70vw] max-w-[500px]" loading="lazy" src=`${props.src}/embed`/>
  </div>
</div>
