---
import HeaderLink from '@/components/HeaderLink.astro'
import { SITE_TITLE } from '@/consts'

console.log(Astro.url.pathname)
---

<header>
  <nav>
    <a href="/">{SITE_TITLE}</a>
    <div class="internal-links">
      <HeaderLink href="/">Portfolio</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
<style lang="scss">
  @use '@/styles/variables' as vars;
  header {
    @apply m-0;
    @apply p-0;
    @apply bg-primary-200;
    @apply w-full;
    @apply fixed;

    height: vars.$header-size;
    /* box-shadow: 0 2px 8px rgba(var(--black), 5%); */
  }

  nav {
    @apply text-lg;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    @apply m-0;
    @apply p-4;
    // padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;

    transition: all 0.3s;
  }
  nav a.active,
  nav a:hover {
    text-decoration: none;
    @apply border-primary-600;
    // border-bottom-color: ;
  }
</style>
