---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { class: className, href, ...props } = Astro.props

if (href == undefined) {
  throw new Error('The `href` prop is required')
}

const { pathname } = Astro.url
let isActive: boolean
if (href.toString() === '/') {
  isActive = pathname === '/'
} else {
  isActive = pathname.startsWith(href.toString())
}
---

<a class:list={[className, { active: isActive }]} href={href} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
