---
import URLCardContent from '@/components/URLCardContent'
import { SITE_URL } from '@/consts'

interface Props {
  url: string;
}

const { url } = Astro.props

const isOtherSite = !url.includes(SITE_URL)

---
<a
  class="flex mx-auto my-4 w-full md:w-[600px]"
  href={url}
  target={isOtherSite ? '_blank' : '_self'}
>
  <URLCardContent url={url} client:load />
</a>
